# https://github.com/golangci/golangci-lint-action#how-to-use
name: lint
on:
  - push
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: '1.25.4' # renovate: datasource=golang-version depName=go
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@55c2c1448f86e01eaae002a5a3a9624417608d84 # v6
        with:
          install-mode: goinstall
          version: v1.64.8 # renovate: datasource=github-tags depName=golangci/golangci-lint
          args: --timeout 5m0s
