# https://github.com/golangci/golangci-lint-action#how-to-use
name: lint
on:
  - push
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: '1.26.0' # renovate: datasource=golang-version depName=go
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9
        with:
          install-mode: goinstall
          version: v1.64.8 # renovate: datasource=github-tags depName=golangci/golangci-lint
          args: --timeout 5m0s
