# https://github.com/golangci/golangci-lint-action#how-to-use
name: lint
on:
  - push
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: '1.25.4' # renovate: datasource=golang-version depName=go
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@55c2c1448f86e01eaae002a5a3a9624417608d84 # v6
        with:
          install-mode: goinstall
          version: v1.64.8 # renovate: datasource=github-tags depName=golangci/golangci-lint
          args: --timeout 5m0s
