name: test
on:
  - push
  - workflow_dispatch
jobs:
  golangci:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: '1.25.5' # renovate: datasource=golang-version depName=go
      - run: go version
      - run: go test $(go list ./... | grep -v "/test/e2e")
