name: test-e2e
on:
  - push
  - workflow_dispatch
jobs:
  golangci:
    name: test-e2e
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: '1.26.0' # renovate: datasource=golang-version depName=go
      - name: install latest docker
        run: |
          wget --output-document=docker-ce.asc https://download.docker.com/linux/ubuntu/gpg
          sudo install -D -o root -g root -m 644 docker-ce.asc /etc/apt/keyrings/docker-ce.asc
          printf 'deb [arch=amd64 signed-by=/etc/apt/keyrings/docker-ce.asc] https://download.docker.com/linux/ubuntu %s stable\n' "$(lsb_release -sc)" | tee docker-ce.list
          sudo install -D -o root -g root -m 644 docker-ce.list /etc/apt/sources.list.d/docker-ce.list
          sudo apt-get update
          sudo apt-get install docker-ce
      - run: docker version
      - run: go version
      - run: go test ./test/e2e
