name: test
on:
  - push
  - workflow_dispatch
jobs:
  golangci:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: '1.25.7' # renovate: datasource=golang-version depName=go
      - run: go version
      - run: go test $(go list ./... | grep -v "/test/e2e")
