name: test
on:
  - push
  - workflow_dispatch
jobs:
  golangci:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: '1.25.4' # renovate: datasource=golang-version depName=go
      - run: go version
      - run: go test $(go list ./... | grep -v "/test/e2e")
